<html lang="vi">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Trang chủ</title>
    </head>
    <body>
        <h1>This is my first website</h1>
        <h2>Today is <%=Day%>:<%=Month%>:<%=Year%> </h2>
        <div class="nav">
            <a href="http://localhost:3000/dang-nhap">Đăng nhập</a>
            <a href="http://localhost:3000/dang-ky">Đăng ký</a>
            <a href="http://localhost:3000/trang-chu">Menu</a>
        </div>
        
    </body>
</html>