<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Đăng ký</title>
    </head>
    <body>
        <h1>Register</h1>
        <form id="loginForm">
            <label for="username">Username:</label><br>
            <input type="text" id="username" name="username"><br>
            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password"><br><br>
            <button type="submit">Register</button>
            <a href="http://localhost:3000/dang-nhap">Đăng nhập</a>
            <a href="http://localhost:3000">Trang chủ</a>
        </form>

        <script src="js/Register.js"></script>
    </body>
</html>